<app-navbar></app-navbar>
<div class="container mt-2 text-center">
    <div class="title">
      <h3> Notas  </h3>
      <a class="btn btn-primary" type="button">Añadir</a>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Título</th>
            <th scope="col">Descripción</th>
            <th scope="col">Estado</th>
            <th style="width:auto">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listTask">
            <td>{{item.title}}</td>
            <td>{{item.description}}</td>
            <td>{{item.finished}}</td>
            <td> 
              <div class="btn-group" role="group" aria-label="Vertical button group" >
                  <form class="form-inline" method="get" action="">
                      <button class="btn btn-warning" type="submit" style="width: 100px; margin-right: 10px;">Editar</button>
                  </form>
                  <form class="form-inline" method="post" action="">
                    <button class="btn btn-danger" type="submit" style="width: 100px;">Borrar</button>
                </form>
              </div> 
          </td>
          </tr>
        </tbody>
      </table>
</div>
